@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:wght@200..800&family=Ubuntu:wght@300..700&display=swap');
@import "tailwindcss";

@theme {
  --font-outfit: Outfit, sans-serif;
  --font-jakarta: "Plus Jakarta Sans", sans-serif;
  --font-ubuntu: Ubuntu, sans-serif;
}

body {
  font-family: var(--font-ubuntu);
}
